:root{
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /*font-family: var(--body-font);*/
    color: var(--accent1-color);
}

header, main, footer{
    width: 900px;
    margin: 0 auto;
}

h1, h2{
    position: relative;
    /*font-family: var(--heading-font);*/
    color: var(--primary-color);
    text-align: center;
}

nav, p, section, article{
    position: relative;
    width: 100%;
    margin: 16px;
    padding: 8px;
    justify-content: space-between;
    text-wrap: wrap;
}

.socialmedia a{
    text-decoration: none;
}

.hero{
    position: relative;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.hero h1{
    position: absolute;
    top: 40px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: .7;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
}

.hero article{
    top: 465px;
    width: 95%;
    padding: 13px;
    text-align: left;
    position: absolute;
    background-color: var(--accent2-color);
}

.hero article img{
    float: right;
    width: 125px;
}

footer img{
    width: 35px;
    height: auto;
    float: right;
    justify-content: space-around;
    margin: 5px;
}

header img{
    position: relative;
    padding: 10px;
    float: left;
}

p img{
    position: relative;
    padding: 5px;
}

.image_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.centered-image {
    max-width: 150px;
    height: auto;
}

.text-left, .text-right {
    flex: 1;
}

header nav{
    margin: 1rem auto;
    display: grid;
    padding: 18px;
    grid-template-columns: 120px 1fr 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 80%;
}

.gallery-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  width: 100%;
}

.grid-container-horizontal{
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    overflow-x: scroll;
}

.gallery-item img{
    width: 100%;
    height: auto;
}